doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1="this is chat"
    h1 #{user.username}
    h1 #{card}
    form(method="post" action="chat")
      input(type="text" name="content")
      button(type="submit") post
      
