extends layout

block content
  div.uk-container.uk-container-expand
    div.uk-container.uk-container-expanddiv.uk-align-center.uk-text-center.uk-padding-small
      img(src='/images/logo_transparent.png' width='512px')
      
    div.uk-container.uk-container-expanddiv.uk-align-center.uk-text-center.uk-padding-small
      a(href="/auth/github").uk-button.uk-button-primary.uk-button-styled-pill.uk-popsition-center GitHubでログイン
        span(uk-icon="github")
      
      if user
        p 現在 #{user.username} でログイン中
