extends layout

block content
  div.mermaid
    |graph LR
    | テストコメント --> オレ　テスト　キライ
    | オレ　テスト　キライ --> そんなこと言ってもしょうがないじゃないか[fa:fa-ban forbidden]
    | オレ　テスト　キライ --> 勉強しろ(fa:fa-spinner);
    |
